.card{
   
    border-radius: 2em;
   
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-body{
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    gap: 60px;
    display: flex;
   
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}